<?xml version="1.0" encoding="utf-8"?>
<!--
Google Play game services IDs.
Save this file as res/values/games-ids.xml in your project.
-->
<resources>
    <!-- app_id -->
    <string name="app_id" translatable="false">{{{ANDROID_PROJECT_ID}}}</string>

    <!-- package_name -->
    <string name="package_name" translatable="false">{{{ANDROID_APP_ID}}}</string>

    <!-- admob -->
    <string name="admod_app_id" translatable="false">{{{ADMOB_APP_ID}}}</string>

    <!-- from strings.xml -->
    <string name="custom_url_scheme" translatable="false">{{{ANDROID_APP_ID}}}</string>
</resources>